<section class="panel panel-default">
	<style>
		#google_translate_country { text-align:center; padding-top:5px; }
		#google_translate_element > div { text-align:center; padding:5px 0; }
		#google_translate_element > div > div { display:inline-block; *display:inline; *zoom:1; margin-right:10px; }
	</style>
	<div id="google_translate_country">
		<a href="#googtrans(ko|en)" onclick="setTimeout(function() { document.location.reload(); });"><img src="/img/English.gif?w=660" alt="English"/></a>
		<a href="#googtrans(ko|ko)" onclick="setTimeout(function() { document.location.reload(); });"><img src="/img/Korean.gif?w=660" alt="Korean"/></a>
		<a href="#googtrans(ko|zh-CN)" onclick="setTimeout(function() { document.location.reload(); });"><img src="/img/Chinese.gif?w=660" alt="Chinese"/></a>
		<a href="#googtrans(ko|ja)" onclick="setTimeout(function() { document.location.reload(); });"><img src="/img/Japanese.gif?w=660" alt="Japanese"/></a>
		<a href="#googtrans(ko|fr)" onclick="setTimeout(function() { document.location.reload(); });"><img src="/img/French.gif?w=660" alt="French"/></a>
		<a href="#googtrans(ko|de)" onclick="setTimeout(function() { document.location.reload(); });"><img src="/img/German.gif?w=660" alt="German"/></a>
		<a href="#googtrans(ko|it)" onclick="setTimeout(function() { document.location.reload(); });"><img src="/img/Italian.gif?w=660" alt="Italian"/></a>
	</div>
	<div id="google_translate_element"></div><script type="text/javascript">
	function googleTranslateElementInit() {
	  new google.translate.TranslateElement({pageLanguage: 'ko'}, 'google_translate_element');
	}
	</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</section>
