<section class="panel panel-default">
	<style>
		#google_translate_country { text-align:center; padding-top:5px; }
		#google_translate_element > div { text-align:center; padding:5px 0; }
		#google_translate_element > div > div { display:inline-block; *display:inline; *zoom:1; margin-right:10px; }
	</style>
  <div class="panel-heading">
    <h3 class="panel-title">I made it</h3>
  </div>
  <ul class="list-group">
  	<li class="list-group-item"><a href="http://sprite.asamaru.net/" target="_blank">Sprite CSS/Image</a></li>
  	<li class="list-group-item"><a href="http://loan.asamaru.net/" target="_blank">대출계산기</a></li>
  	<li class="list-group-item"><a href="http://bookmarklet.asamaru.net/" target="_blank">북마클릿 생성기</a></li>
  </ul>
</section>
