<footer class="footnote footnote-tiffany">
	<div class="container">
		<a class="foot-item" href="mailto:{{ site.email }}" target="_blank"><img src="{{ root_url }}/static/img/bottom-email.png" alt="Email"></a>
		<a class="foot-item" href="https://github.com/{{ site.github_username }}" target="_blank"><img src="{{ root_url }}/static/img/bottom-github.png" alt="Github"></a>
		<a class="foot-item" href="{{ '/atom.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><img src="{{ root_url }}/static/img/bottom-rss.png" alt="RSS"></a>
		&nbsp;
		<a href="{{ site.url }}"><span class="word-keep">&copy; {{ site.author }}</span></a>
	</div>
</footer>
