{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include head.html %}
  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div id="wrap">
      <header role="banner">
        {% include navigation.html %}
      </header>
      <div id="main" role="main" class="container">
      <!-- adsense -->
<div>
    <br />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 블로그 하단 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8163803188491150"
         data-ad-slot="7841851420"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
<br />
</div>
      <!-- adsense -->
        <div id="content">
          {{ content | expand_urls: root_url }}
        </div>
      </div>
    </div>
    <footer role="contentinfo">{% include footer.html %}</footer>
    {% include after_footer.html %}
  </body>
</html>
