.entry-content {
	line-height:1.5em;
}
.entry-content > table {
	border-collapse: collapse;
	border-top: 1px solid #ccc;
	border-left: 3px solid #369;
	margin: 20px 0;
}
.entry-content > table th {
	padding: 7px;
	font-weight: bold;
	color: #153d73;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.entry-content > table td {
	padding: 7px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
