---
layout: default
---
<div class="row">
    <div class="content">
        <!-- adsense -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 블로그 하단 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8163803188491150"
             data-ad-slot="7841851420"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <!-- adsense -->

        <div class="sheet">
            <header>
                <h1>{{ page.title }}</h1>
            </header>
            <hr>
            <article>
                {{ content }}
            </article>
        </div>
    </div>
</div>